{erl_opts, [debug_info, warnings_as_errors]}.
{src_dirs, ["src", "src/get_channel_by_id", "src/get_channels_page",
           "src/get_video_clips_page", "src/get_video_clip_by_id",
           "src/advertise_channel_lookup", "src/advertise_video_clip_lookup",
           "src/stream_video_clip_by_id", "src/advertise_content_lookup"]}.
{shell, [{apps, [query_tube]}]}.
